.error {
  --error-icon-size: 4rem;

  color: hsl(var(--text-secondary));
  text-align: center;
  margin-top: 3rem;

  display: grid;
  justify-items: center;
  gap: 1rem;
}

.error-title {
  color: hsl(var(--error));
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  text-align: center;
}

.error-msg {
  font-size: var(--fs-lg);
}

.error-resolution {
  font-size: var(--fs-md);
}

.error-icon {
  width: var(--error-icon-size);
  height: var(--error-icon-size);
}

/* Responsiveness */
/* Screen sizes >= 768px */
@media screen and (width >= 48em) {
  .error-title {
    font-size: var(--fs-2xl);
  }

  .error-msg {
    font-size: var(--fs-xl);
  }

  .error-resolution {
    font-size: var(--fs-lg);
  }

  .error-icon {
    --error-icon-size: 5rem;
  }
}
